* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    display: flexbox;
    background-color: blanchedalmond;
}

div {
    margin: auto;
}

button {
    margin: 20px;
    padding: 10px;
    
}